/* import fonts and body styles */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0px 135px;
    padding-right: 225px;
    /* padding: 52px 130px; */
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.tvl-name {
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}

.agnc-name {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.nav-ul {
    list-style: none;
    display: flex;
    gap: 44px;
}

a {
    text-decoration: none;
}

.bbaarr {
    display: none;
}

.home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.menus {
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

/* banner styles */
/* .banner-img {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    
}
.bnr-back{
     border-radius: 16px;
   
} */
.banner {
    background-image: url('../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-radius: 16px;
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}

.banner-desc {
    /* position: relative; */
    text-align: center;
    margin: auto 185px;
    padding-top: 6.6rem;
}

.bnr-title {
    color: papayawhip;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.bnr-desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.bnr-form {
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.bnr-input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
}

.bnr-input:hover {
    background-color: aquamarine;
}

.bnr-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700px;
    border: none;
    cursor: pointer;
}

/* main styles */

/*  section 1 styles */
.section1 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    gap: 55px;
    margin: 100px 0;
    padding: 0;
}

.sec1-h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-top: 0;
}

.sec1-p1 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* section2 styles */
.section2 {
    width: 100%;
    margin-top: 50px;
}

.sec2-h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.sec2-p1 {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* pic collage */
.img {
    width: 100%;
    height: 100%;
}

.row {
    height: 300px;
    display: flex;
    gap: 1.4rem;
    margin-bottom: 24px;
    margin-top: 0;
}

/* .img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}

.collage{
    height: 934px;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 1.2rem;
    grid-template-areas: 
    img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2
    img3 img3 img3 img3 img4 img4 img4 img4 img4 img5 img5 img5
    img6 img6 img6 img6 img6 img7 img7 img7 img7 img7 img7 img7 
    ;
} */
/* section 3 styles */
.section3 {
    width: 100%;
    margin-top: 100px;
}

.sec3-sub1 {
    display: flex;
    gap: 1.4rem;
    margin-bottom: 1.5rem;

}

.cmn-sec3-div {
    width: 573px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
    margin: 0 auto;
}

/* section 4 styles */

.section4 {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
}

.sec4-div1 {
    width: 474px;
    height: 340px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2.5rem;
}

.sec4-news {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 0px;
}

.sec4-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.sec4-inp {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 95%;
    margin-bottom: 1rem;
}

.sec4-btn {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 5px;
}

/* .sec4-img{
    position: absolute;
} */
.sec4-save {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    padding-top: 0.5rem;
    position: absolute;
    z-index: 1;
    left: 73%;
    top: 60%;
}

.save {
    font-size: 2rem;
    font-weight: 800;
}

/* footer styles */

.footer {
    margin: auto 0px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    padding-top: 110px;
    text-align: center;
    padding-bottom: 3rem;
}

.foot-1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


/* media q. for mobile phone (590px) */

@media screen and (max-width:590px) {
    body {
        font-family: 'Mulish', sans-serif;
        padding: 0 1rem;
        margin: 0;
    }

    header {
        padding: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .nav-ul {
        display: none;
    }

    .bbaarr {
        display: block;
        font-size: 30px;
    }

    .banner {
        width: auto;
    }

    .banner-desc {
        margin: 0 15px;
        padding-top: 10px;
    }

    .bnr-title {
        font-size: 32px;
        color: pink;
    }

    .bnr-desc {
        color: #424247;
        font-size: 14px;
        line-height: 21px;
    }

    .bnr-form {
        flex-direction: column;
    }

    .bnr-input,
    .bnr-btn {
        width: 270px;
    }

    /* section1 styles */
    .section1 {
        flex-direction: column;
        margin-top: 50px;
        padding: 1.1rem;
        height: fit-content;
        margin-bottom: 30px;
        padding-right: 90px;
    }

    /* section 2 styles */
    .section2 {
        padding: auto 20px;
        padding-right: 100px;
    }

    .sec2-h2 {
        font-size: 20px;
        padding-top: 0;
        margin-top: 0;
    }

    .sec2-p1 {
        font-size: 14px;
        line-height: 24px;
        margin: auto 2rem;
        margin-bottom: 20px;
    }

    .row {
        flex-direction: column;
        height: auto;
        padding: 0 20px;
    }

    .img {
        width: 540px;
        height: 250px;
        padding: 0;
    }

    /* section3 */
    .section3 {
        padding: 1.2rem;
    }

    .sec3-sub1 {
        flex-direction: column;
    }

    .cmn-sec3-div {
        width: 460px;
    }

    .section4 {
        flex-direction: column;
    }

    .sec4-div1 {
        width: 450px;
        margin: auto 20px;
    }

    .sec4-inp,
    .sec4-btn {
        width: 100%;
    }

    /* .sec4-div2{
        width: 450px;
    } */
    .sec4-img {
        width: 530px;
        margin: auto 20px;
    }

    .sec4-save {
        width: 300px;
        height: 100px;
        top: 80%;
        left: 46%;
        margin-bottom: 20px;
    }
    footer{
        
        width: 100%;
    }
}