/* import fonts and body styles */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0px 135px;
    padding-right: 225px;
    /* padding: 52px 130px; */
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.tvl-name {
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}

.agnc-name {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.nav-ul {
    list-style: none;
    display: flex;
    gap: 44px;
}

a {
    text-decoration: none;
}
 .bbaarr{
    display: none;
 }
.home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.menus {
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

/* banner styles */
/* .banner-img {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    
}
.bnr-back{
     border-radius: 16px;
   
} */
.banner {
    background-image: url('../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-radius: 16px;
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}

.banner-desc {
    /* position: relative; */
    text-align: center;
    margin: auto 185px;
    padding-top: 6.6rem;
}

.bnr-title {
    color: papayawhip;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.bnr-desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.bnr-form {
    display: inline-flex;
    padding: 16px;
    align-items:center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.bnr-input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
padding-left: 1rem;
}
.bnr-input:hover{
    background-color: aquamarine;
}
.bnr-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700px;
    border: none;
    cursor: pointer;
}
/* main styles */

/*  section 1 styles */
.section1{
    width:100%;
    height:550px;
    display: flex;
    align-items: center;
    gap: 55px;
    margin: 100px 0;
    padding: 0;
}
.sec1-h2{
    color: #131318;
font-size: 40px;
font-weight: 800;
padding-top: 0;
}
.sec1-p1{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}



/* media q. for mobile phone (590px) */
 
@media screen and (max-width:590px) {
    body{
        font-family: 'Mulish', sans-serif;
    padding: 0 1rem;
    margin: 0;
    }
    header{
        padding: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .nav-ul{
        display: none;
    }
    .bbaarr{
        display: block;
        font-size: 30px;
    }
    .banner
    {
        width: auto;
    }
    .banner-desc{
        margin: 0 15px;
        padding-top: 10px;
    }
    .bnr-title{
        font-size: 32px;
        color: pink;
    }
    .bnr-desc{
        color: #424247;
        font-size: 14px;
        line-height: 21px;
    }
    .bnr-form {
        flex-direction: column;
    }
    .bnr-input, .bnr-btn{
        width: 270px;
    }
    /* section1 styles */
    .section1{
        flex-direction: column;
        margin-top: 50px;
        padding: 1.1rem;
    }    
}